<!DOCTYPE html>
<html>
<head>
    <title>Activity </title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1> Choose Activity Dude💖 </h1>

    <a href="/date"><button>Coffee ☕</button></a>

    <a href="/date"><button>Lunch 🍔</button></a>

    <a href="/date"><button>Dinner 🍕</button></a>

    <a href="/date"><button>Movie 🎬</button></a>

<body style="background-image: url('/static/images/choose.webp');">

 <audio autoplay loop>
    <source src="/static/audio/audio00.wav" type="audio/wav">
</audio>

    <script>
        document.addEventListener("click", function () {
            document.getElementById("bgMusic").play();
        }, { once: true });
    </script>

</body>
</html>