<!DOCTYPE html>
<html>
<head>
    <title>Final</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1> Yay! You Said Yes!❤️🥰</h1>

    <p>
        I'm so excited for our date!💖<br><br>

        Thank you for making my day so special.🌹<br><br>

        I can't wait to spend beautiful moments with you.❤️<br><br>

        Get ready for lots of smiles, laughter, and unforgettable memories together!✨😊<br><br>

        Counting down the days until we meet!💕⏳
    </p>

<body style="background-image: url('/static/images/final.webp');">

    <audio autoplay loop>
    <source src="/static/audio/audio.wav" type="audio/wav">
</audio>

    <script>
        document.addEventListener("click", function () {
            document.getElementById("bgMusic").play();
        }, { once: true });
    </script>

</body>
</html>